/* ================= LOADER ================== */

.gauci-sub-settings {
  padding-top: 25px;
}
#gauci-image-filter-name {
  border: none !important;
  padding: 10px !important;
  margin: 0 !important;
  border-bottom: 1px solid #303030 !important;
}
.gauci-loader-inner {
  background: #121212;
}
.gauci-image-filter {
  margin: 0px;
}
.gauci-loader {
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-top-color: #00a3ff;
}
/*==============Filter Name==========*/
.gauci-accordion-mask:hover {
  color: #fff;
}
.img-filter-container {
  cursor: pointer;
  border: 1px solid #303030;
  padding: 0;
  margin-top: 15px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 4px;
}
.img-filter-container.active {
  border: #0188d4 solid 1px;
}
.grid-items {
  position: relative;
  border: none;
  padding: 0;
}
.gauci-filtered-image {
  border-radius: 0 !important;
  margin: 0 !important;
  border: 3px solid #242631 !important;
}

.gauci-filtered-image:hover {
  border: 3px solid #fff !important;
}
.grid-items-filter-name {
  background-color: #303030;
  position: absolute;
  z-index: 2;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  bottom: 3px;
  margin-bottom: 0;
  right: 3px;
  padding: 0px 10px;
  border-top-left-radius: 5px;
}

/* ================= GENERAL STYLES ================== */

* {
  scrollbar-color: #717171 #303030;
}

*::-webkit-scrollbar-track {
  background: #303030;
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
  border: 4px solid #303030;
}

body {
  background: #1c1d26;
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

.text-danger {
  color: #f44336 !important;
}

.text-success {
  color: #009688 !important;
}

.text-warning {
  color: #ffc107 !important;
}

.text-white {
  color: #ffffff !important;
}

#gauci-icon-panel hr {
  border-bottom: 1px dashed #818181;
}

.notice {
  color: #aaa;
  background: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #00a3ff;
}

.notice.notice-danger {
  border-left: 4px solid #f44336;
}

.notice.notice-warning {
  border-left: 4px solid #ffc107;
}

.notice.notice-success {
  border-left: 4px solid #009688;
}

.gauci-img-loader {
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-top-color: #00a3ff;
}

#gauci-overlay-preview {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='%23000000'/%3E%3C/svg%3E")
    left top/contain #333;
  background-size: 15px 15px;
}

/* ================= PAGE STRUCTURE ================== */

#gauci-toggle-left,
#gauci-toggle-right {
  background-color: #242631;
  border: 1px solid #303030;
}

#gauci-toggle-right.closed,
#gauci-toggle-left.closed {
  background-color: #242631;
}

#gauci-toggle-left .material-icons,
#gauci-toggle-right .material-icons {
  color: #fff;
}

#gauci-toggle-left:hover .material-icons,
#gauci-toggle-right:hover .material-icons {
  color: #00a3ff;
}

/* ================= TOP BAR ================== */

#gauci-top-bar {
  background: #242631;
  border-bottom: 1px solid #303030;
}

.gauci-top-bar-menu .gauci-btn-simple {
  color: #fff;
}

.gauci-top-bar-menu .gauci-btn-simple:disabled {
  color: #aaa;
}

/* ================= DROPDOWN ================== */

ul.gauci-dropdown {
  background: #242631;
  border: 1px solid #303030;
}

ul.gauci-dropdown li {
  border-bottom: 1px solid #303030;
}

ul.gauci-dropdown li a {
  color: #aaa;
}

ul.gauci-dropdown li a:hover {
  color: #fff;
}

ul.gauci-dropdown li a .material-icons {
  color: #00a3ff;
}

/* ================= CONTENT BAR ================== */

.gauci-content-bar {
  background: #242631;
  /* border-top: 1px solid #303030; */
  /* padding: 10px 0; */
  /* border: 1px solid #303030; */
}

.gauci-content-bar .gauci-img-size {
  border-right: 1px solid #303030;
}

.gauci-content-bar .gauci-counter .gauci-btn,
.gauci-content-bar .gauci-counter .gauci-btn:hover,
.gauci-content-bar .gauci-counter .gauci-btn:focus {
  background: #242631;
  color: #aaa;
}

.gauci-content-bar .gauci-counter .gauci-btn:hover {
  color: #fff;
}

.gauci-counter .gauci-btn:disabled {
  color: rgba(255, 255, 255, 0.3);
}

.gauci-content-bar .gauci-counter:after {
  background: #303030;
}

#gauci-img-drag {
  /* border-right: 1px solid #303030; */
  background: #242631;
  color: #aaa;
  font-size: 22px;
}

#gauci-img-drag:hover,
#gauci-img-drag.active {
  /* background: #303030; */
  color: #fff;
}

/* ================= ICON MENU ================== */

#gauci-icon-menu {
  background: #1e202a;
}

#gauci-icon-menu.closed {
  border-right: 1px solid #303030;
}

button.gauci-icon-menu-btn {
  color: #aaa;
  background: #1e202a;
}

button.gauci-icon-menu-btn.active,
button.gauci-icon-menu-btn:hover {
  color: #fff;
  background-color: #242631;
}

#gauci-icon-panel {
  border-right: 1px solid #303030;
  background: #242631;
}

/* ================= CONTENT ================== */
#gauci-maskbutton {
  background-color: #00a3ff;
  color: #ffff;
}

#gauci-maskbutton:hover {
  background: #0188d4;
}

#gauci-content {
  background-color: #1c1d26;
}

#gauci-canvas-wrap {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='%23FFFFFF'/%3E%3C/svg%3E")
    left top/contain #ccc;
  background-size: 15px 15px;
}

#gauci-canvas-loader {
  /* background: #121212; */
  /* background: #242631; */
  background: #1c1d26;
}

/* ================= LAYERS ================== */

#gauci-right-col {
  border-left: 1px solid #3e3e51;
  background: #242631;
}

.gauci-layers-title {
  background: #242631;
}

#gauci-layers li {
  color: #aaa;
  border-bottom: 1px solid #303030;
  background: #121212;
}

#gauci-layers li:first-child {
  border-top: 1px solid #303030;
}

#gauci-layers li:hover {
  color: #fff;
}

#gauci-layers li.active {
  color: #fff;
  background: #212121;
}

#gauci-layers li .layer-icons {
  background: #242631;
}

#gauci-layers li .layer-name {
  color: #aaa;
}

#gauci-layers li .layer-name:focus {
  color: #fff;
}

#gauci-layers li .layer-icons .material-icons {
  color: #aaa;
}

#gauci-layers > li > .material-icons {
  color: #00a3ff;
}

#gauci-layers > li > .material-icons.layer-settings {
  background: #242631;
  color: #aaa;
}

#gauci-layers > li > .material-icons.layer-settings:hover,
#gauci-layers > li > .material-icons.layer-settings.active {
  color: #fff;
}

#gauci-layers li .layer-icons .layer-visible,
#gauci-layers li .layer-icons .layer-unlocked {
  color: #009688;
}

#gauci-layers li .layer-icons .layer-hidden,
#gauci-layers li .layer-icons .layer-locked {
  color: #ffc107;
}

#gauci-no-layer a {
  color: #00a3ff;
}

#gauci-layer-delete-wrap {
  border-top: 1px dashed #303030;
}

/* ================= GRID ================== */

.gauci-frames-grid .grid-item,
.gauci-grid .grid-item {
  background: #303030;
}

.gauci-frame,
.gauci-element {
  border: 1px solid #303030;
  background: #303030;
}

.type-customSVG > a:before {
  color: #4caf50;
}

.gauci-element.light {
  background: #eee;
}

.gauci-frame:hover,
.gauci-element:hover {
  border: 1px solid #fff;
}

.template-favorite,
.gauci-frame .frame-favorite,
.gauci-element .element-favorite {
  background: #fff;
}

.gauci-frames-grid .gauci-frame {
  border: 3px solid #303030;
}

.gauci-frames-grid .gauci-frame:hover {
  border: 3px solid #fff;
}

.grid-icon-item {
  color: #aaa;
  border: 1px solid #121212;
}

.grid-icon-item:hover {
  border: 1px solid #00a3ff;
  color: #fff;
}

.grid-icon-item .material-icons {
  color: #00a3ff;
}

.grid-icon-label {
  border-top: 1px solid #121212;
}

/* ================= ELEMENTS ================== */

#gauci-filters.gauci-grid img:hover {
  border: 3px solid #fff;
}

#gauci-filters.gauci-grid div label span {
  background: #303030;
  color: #fff;
}

#gauci-filters.gauci-grid input[type="checkbox"]:checked + label img,
#gauci-filters.gauci-grid input[type="radio"]:checked + label img {
  border: 3px solid #fff;
}

#gauci-filters.gauci-grid input[type="checkbox"]:checked + label > span,
#gauci-filters.gauci-grid input[type="radio"]:checked + label > span {
  color: #242631;
  background: #fff;
}

.gauci-element > .material-icons {
  color: #fff;
}

/* ================= BUTTONS ================== */

.gauci-btn-simple {
  color: #aaa;
}

.gauci-btn-simple:hover,
.gauci-btn-simple.active {
  color: #fff;
}

.gauci-btn-simple:disabled {
  color: #aaa;
}

.gauci-btn-simple.star {
  color: #ff9800 !important;
}

.gauci-btn {
  background: #212121;
  color: #fff;
}

.gauci-btn:hover,
.gauci-btn.primary:hover {
  background: #0188d4;
}

.gauci-btn.active,
.gauci-btn.active:hover,
.gauci-btn.primary {
  background: #00a3ff;
  color: #fff;
}

.gauci-btn.danger {
  background: #f44336;
}

.gauci-btn.danger:hover {
  background: #d32f2f;
}

.gauci-horizontal-center.active,
.gauci-vertical-center.active {
  background: #212121 !important;
}

/* ================= BLOCKS ================== */

.icon-group {
  border: 1px solid #303030;
  background: #303030;
}

.icon-group .gauci-btn {
  border-right: 1px solid #303030;
}

.icon-group .gauci-btn:hover,
.icon-group .gauci-btn.active {
  background: #242631;
}

/* ================= TOOLTIP ================== */

.tooltip:after {
  background-color: #fff;
  color: #242631;
}

.tooltip:before {
  border-color: #fff transparent;
}

/* ================= PAGINATION ================== */

.gauci-pagination ul li {
  border: 1px solid #303030;
  color: #aaa;
}

.gauci-pagination ul li.active,
.gauci-pagination ul li.active:hover {
  background: #00a3ff;
  border-color: #00a3ff;
  color: #fff;
}

.gauci-pagination ul li:hover {
  border-color: #00a3ff;
}

.gauci-pagination ul li a {
  color: #fff;
}

.gauci-accordion .gauci-pagination ul li {
  color: #aaa;
  background: #212121;
}

.gauci-accordion .gauci-pagination ul li.active,
.gauci-accordion .gauci-pagination ul li.active:hover {
  color: #fff;
  background: #00a3ff;
}

.gauci-accordion .gauci-pagination ul li a,
.gauci-accordion .gauci-pagination ul li > span {
  color: #aaa;
}

.gauci-accordion .gauci-pagination ul li.active > span,
.gauci-accordion .gauci-pagination ul li a:hover {
  color: #fff;
}

/* ================= ACCORDION ================== */

ul.gauci-accordion > li {
  border: 1px solid #303030;
}

ul.gauci-accordion > li.opened {
  border-color: #00a3ff;
}

ul.gauci-accordion > li > a {
  color: #aaa;
}

ul.gauci-accordion > li > a:hover,
ul.gauci-accordion > li.opened > a {
  color: #fff;
}

ul.gauci-accordion > li.opened > a {
  border-bottom: 1px solid #303030;
}

ul.gauci-accordion > li > a > .data-count {
  background: #00a3ff;
  color: #fff;
}

/* ================= RANGESLIDER ================== */

.gauci-slider {
  background: #303030;
}

.gauci-slider::-webkit-slider-thumb {
  background: #00a3ff;
  border: 3px solid #121212;
}

.gauci-slider::-moz-range-thumb {
  background: #00a3ff;
  border: 3px solid #121212;
}

/* ================= COUNTER ================== */

.gauci-counter .gauci-btn,
.gauci-counter .gauci-btn:hover,
.gauci-counter .gauci-btn:focus {
  background: #303030;
}

.gauci-counter .gauci-btn:disabled {
  color: rgba(255, 255, 255, 0.3);
}

/* ================= CONTROLS ================== */

.gauci-control-label span {
  background: #303030;
  color: #fff;
}

.gauci-form-field {
  background: #212121;
  border: 1px solid #303030;
  color: #aaa;
}

.gauci-form-field:focus {
  background: #212121;
  border: 1px solid #00a3ff;
  color: #fff;
}

.gauci-search-wrap .material-icons {
  color: #aaa;
}

#gauci-element-search-icon.cancel,
#gauci-icon-search-icon.cancel {
  color: #f44336;
}

.gauci-sub-settings {
  border-top: 1px dashed #818181;
}

/* ================= COLORPICKER ================== */

.gauci-colorpicker,
.gauci-colorpicker:focus,
.gauci-form-field {
  background: #212121;
  border: 1px solid #303030;
  color: #aaa;
}

.gauci-colorpicker:focus {
  color: #fff;
}

.sp-container {
  background: #242631;
  border: 1px solid #303030;
}

.sp-palette-container {
  border-right: solid 1px #303030;
}

.sp-container button {
  color: #aaa;
}

.sp-container button:hover {
  color: #fff;
}

.sp-container button.sp-choose {
  background: #00a3ff;
  color: #fff;
}

.sp-container button.sp-choose:hover,
.sp-container button.sp-choose:focus {
  background: #5546e8;
  color: #fff;
}

.sp-clear-display:before {
  color: #fff;
}

/* ================= SELECT ================== */

.gauci-select {
  color: #aaa;
  background: #212121
    url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23aaaaaa' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
    no-repeat right 0.5rem center;
  background-size: 20px 10px;
  border: 1px solid #303030;
}

.gauci-select:focus {
  border: 1px solid #00a3ff;
}

.gauci-select:focus::-ms-value {
  color: #465362;
  background-color: #fff;
}

.select2-container--dark .select2-selection--single {
  background: #212121;
  border: 1px solid #303030;
}

.select2-container--dark
  .select2-selection--single
  .select2-selection__rendered {
  color: #aaa;
}

.select2-container--dark
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #aaa transparent transparent transparent;
}

.select2-container--dark
  .select2-selection--single
  .select2-selection__placeholder {
  color: #fff;
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  background: #242631;
  border-color: #303030;
}

.select2-container--dark .select2-results__option--highlighted[aria-selected] {
  background: #00a3ff !important;
  color: #ffffff;
}

.select2-container--dark .select2-results__option[aria-selected="true"] {
  background: #00a3ff;
  color: #fff;
}

.select2-drop {
  border: 2px solid #303030;
}

.select2-drop.select2-drop-above {
  border-top: 2px solid #303030;
}

.select2-container--dark .select2-search input {
  border: 1px solid #303030;
  background: #242631;
  color: #fff;
}

.select2-container--dark .select2-search input:focus {
  border: 1px solid #00a3ff;
}

.select2-container--dark .select2-results__group {
  border-top: 1px solid #303030;
}

/* ================= TABS ================== */

.gauci-tabs-menu li:hover {
  color: #fff;
}

.gauci-tabs-menu li.active {
  background: #00a3ff;
  color: #fff;
}

/* ================= TOGGLE ================== */

.gauci-toggle-switch {
  background: #303030;
}

.gauci-toggle-switch:before {
  background: #fff;
}

.gauci-toggle-checkbox:checked + .gauci-toggle-switch {
  background: #00a3ff;
}

/* ================= CHECKBOX ================== */

.gauci-checkmark {
  background-color: #212121;
  border: 1px solid #303030;
}

.gauci-checkbox input:checked ~ .gauci-checkmark {
  background-color: #00a3ff;
  border-color: #00a3ff;
}

.gauci-checkbox .gauci-checkmark:after {
  border: solid white;
  border-width: 0 3px 3px 0;
}

/* ================= CUSTOM CURSOR ================== */

.tm-pointer-simple.tm-cursor {
  background-color: #fff;
}

/* ================= MODAL ================== */

.gauci-modal {
  background: rgba(51, 51, 51, 0.9);
}

.gauci-modal-inner > .gauci-tabs > .gauci-tabs-menu > li {
  background: #212121;
}

.gauci-modal-inner > .gauci-tabs > .gauci-tabs-menu > li.active {
  background: #121212;
}

.gauci-modal-inner > .gauci-tabs > .gauci-tab,
.gauci-modal-bg {
  background: #121212;
}

.gauci-modal-close {
  color: #fff;
  background: #f44336;
}

.gauci-modal-close:hover {
  color: #fff;
  background: #d32f2f;
}

.gauci-modal-close .material-icons {
  font-size: 20px;
  line-height: 36px;
}

#gauci-download-as-json,
#gauci-save-as-json {
  border-top: 1px dashed #303030;
}

.gauci-select-btn-block > div:first-child {
  border-right: 1px dashed #303030;
}

/* ================= TEMPLATE LIBRARY ================== */

.gauci-template-list {
  border: 1px solid #303030;
}

.gauci-template-list li {
  border-bottom: 1px solid #303030;
}

.gauci-template-list li.active {
  background: #212121;
}

#gauci-history-list li .info .material-icons {
  color: #00a3ff;
}

#gauci-history-list li .info span.time {
  background: #303030;
  color: #fff;
}

/* ================= MASONRY ================== */

.gauci-masonry-item .favorite {
  background: #fff;
}

.gauci-masonry-item-inner {
  border: 4px solid #303030;
}

.grid-item:hover .gauci-masonry-item-inner,
.gauci-masonry-item-inner:hover {
  border-color: #fff;
}

.gauci-masonry-item-desc {
  background: #fff;
  color: #242631;
}

.gauci-svg-library-delete,
.gauci-library-delete {
  color: #fff;
  background: #f44336;
}

.gauci-svg-library-delete:hover,
.gauci-library-delete:hover {
  background: #d32f2f;
}

.gauci-grid.svg-library-grid .gauci-masonry-item-inner {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2' height='2'%3E%3Cpath d='M1,0H0V1H2V2H1' fill='%23000000'/%3E%3C/svg%3E")
    left top/contain #333;
  background-size: 15px 15px;
}

a.pexels-url {
  color: #00a3ff;
  background: #fff;
}

a.pexels-url:hover {
  color: #544abf;
}

#pexels-credit {
  color: #aaa;
}

/* ================= RULER ================== */

.guide.v {
  border-right: 1px solid #00a3ff;
}

.guide.h {
  border-bottom: 1px solid #00a3ff;
}

.guide .info {
  background-color: #242631;
  border: 1px solid #212121;
  color: #fff;
}

.ruler {
  background-color: #212121;
}

.ruler .label {
  color: #aaa;
}

.ruler.h {
  border-bottom: 1px solid #444;
}

.ruler.h span.major {
  border-left: 1px solid #444;
}

.ruler.h span.milestone {
  border-left: 1px solid #444;
}

.ruler.v {
  border-right: 1px solid #444;
}

.ruler.v span.major {
  border-top: 1px solid #444;
}

.ruler.v span.milestone {
  border-top: 1px solid #444;
}

#gauci-ruler-icon {
  background: #212121;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

.menu-btn {
  background-color: #00a3ff;
  color: #fff;
}

.rg-menu {
  border-right: 1px solid #303030;
}

.rg-menu li {
  border-bottom: 1px solid #303030;
}

.rg-menu a {
  background-color: #242631;
  color: #aaa;
}

.rg-menu a:hover,
.rg-menu a.selected {
  color: #fff;
}

/* ================= MEDIA QUERIES ================== */

@media only screen and (max-width: 800px) {
  .gauci-modal-inner > .gauci-tabs > .gauci-tabs-menu > li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
