/* .personalise-page-inactive {
  display: none;
}

.personalise-page-active {
  display: block;
} */
.toggle-2d-3d-cont {
  display: none;
}
.personalise-page-active {
  display: block;
}

.personalise-page-inactive {
  display: none;
}

.personalise-page-main-cont {
  position: absolute;
  /* z-index: 100; */
}
.personalise-3d-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #818181 !important;
  height: 100vh;
}
/* .canvas-container {
  display: none;
} */
.personalize-3d-main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #818181 !important;
  /* width: calc(80% - 100px); */
  width: 50%;
}
.personalise-button-main-cont {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-d-canvas-cont {
  /* width: 50%;
     */
  width: 70%;
  /* height: 100%; */
  /* height: 500px; */
  /* background-color: #818181 !important; */

  border: 4px solid #8c8c8c;
  /* margin-left: 100px; */
}
.three-d-canvas-cont canvas {
  width: 100% !important;
  height: 100% !important;
}
.personalise-button-main-cont {
  width: 50%;
}

.personalise-container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 100vh; */
}

.personalise-btn-cont {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
}

#personaliseOpenPopupBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 290px;
  height: 60px;
  color: #fb0000;
  font-size: 24px;
  outline: none;
  border: none;
}

#editInEditorpBtn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 290px;
  height: 60px;
  color: #fb0000;
  font-size: 24px;
  outline: none;
  border: none;
}
.popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #e0e0e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

.popup-content {
  padding: 20px;
  position: relative;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}
/* Making Mini editor Visible Css */
.image-preview-area {
  width: 100%;
  height: 460px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
/* Making Mini editor Visible Css */
.image-preview {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: space-around;
}

.button-container button {
  padding: 12px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #00aaff;
  border: none;
  color: white;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #007acc;
}
#openEditor {
  padding: 12px 50px;
  font-size: 14px;
  cursor: pointer;
  background-color: #00aaff;
  border: none;
  color: white;
  border-radius: 5px;
}

#openEditor:hover {
  background-color: #007acc;
}

.ediotr-btn-cont {
  display: flex;

  align-items: center;

  justify-content: center;
  /* margin-top: 20px; */
}
.personalise-library-box {
  background-color: #ffff;
  width: 140px;
  height: 140px;
  cursor: pointer;

  color: #1c1d26;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.personalise-library-box img {
  width: 100%;
}

.personalise-text-container p {
  text-align: center;
  font-weight: 700;
  color: #1c1d26;
  margin-bottom: 0px;
}

.personalise-library-box p {
  font-size: 18px;
  font-weight: 700;
}
.template-list-loader-cont {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  margin-bottom: 10px;
}
#template-list-cont {
  height: 450px;
  overflow-y: scroll;
}
.personalise-librarry-name-cont {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 10px;

  margin-bottom: 10px;
}
#personaliseCanvasWrap {
  position: relative;
}
.personalise-template-img {
  width: 460px;
  height: 460px;
  position: absolute;
}

.personalise-library-box.active {
  border: 2px solid #007bff; /* Change border color to indicate active state */
  background-color: #f0f8ff; /* Optional: Change background color */
}
.mini-ediotr-input-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.mini-editor-input {
  width: 400px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

.mini-editor-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.display-none-prop {
  display: none;
}

.display-block-prop {
  display: block;
}

.threedD-loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#242631 0 0); /* Updated color */
  background: var(--c) 0% 100%, var(--c) 50% 100%, var(--c) 100% 100%;
  background-size: 20% 65%;
  animation: l5 1s infinite linear;
}

@keyframes l5 {
  20% {
    background-position: 0% 50%, 50% 100%, 100% 100%;
  }
  40% {
    background-position: 0% 0%, 50% 50%, 100% 100%;
  }
  60% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  80% {
    background-position: 0% 100%, 50% 100%, 100% 0%;
  }
}
